body{
  margin: 0%;
}
.first-section{
  display: flex;
}
.first-item{
  width: 600px;
  margin-top: 100px;
  margin-left: 120px;
}
.first-big-letter{
  display: flex;
}
.first-item h1{
  font-size: 60px;
  margin-left: 10px;
  margin-top: 0;
}
.first-item-h span{
  color: red;
}
.first-item p{
  color: gray;
  font-weight: 700;
}
.first-item a{
  margin: 20px 0px;
}
.first-pic{
  width: 50%;
  margin-top: 20px;
}
.first-pic img{
  margin-left: 100px;
  margin-top: 0px;
  padding-bottom: 30px;
  height: 500px;
}
.button{
  color: blanchedalmond;
  background-color: red;
  padding: 15px 40px;
  border-radius: 10px;
  text-decoration: none;
  margin-top: 20px;
  font-weight: 200;
}

.second-section h1{
  font-size: 45px;
  text-align: center;
}
.second-section span{
  color: red;
}
.second-section-item{
  display: flex;
}
.mission{
  margin-left: 100px;
  width: 300px;
  height: 300px;
  padding: 10px;
  text-align: left;
  border-radius: 15px;
}
.mission h2{
  font-weight: bolder;
}
.mission img{
  width: 100px;
  height: 100px;
}
#m{
  background: lime;
}
#vission{
  background: lightskyblue;
}
#goals{
  background: lightsalmon;
}
.development-area{
  display: flex;
  background: gray;
  padding: 15px;
  margin: 40px 20px;
  border-radius: 15px;
}
.development-pic{
  width: 600px;
}
.development-pic img{
  height: 400px;
  border-radius: 20px;
  border: 3px solid aqua;
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.development-journey{
  width: 600px;
  margin-left: 80px;
  margin-right: 200px;
}
.development-journey span{
  color: orange;
}
.development-journey h1{
  font-size: 40px;
}
.other-skill{
  display: flex;
  background-color: orange;
  color: white;
  margin: 30px;
  border-radius: 25px;
}
.other-skill-item{
  margin: 30px;
  width: 500px;
}
.other-skill-item h1{
  font-size: 40px;
}
.other-skill-item span{
  color: black;
}
.other-skill-pic{
  margin-left: 300px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.other-skill-pic img{
  height: 300px;
}
.about{
  display: flex;
  margin: 30px;
  background-color: skyblue;
  padding: 20px;
  border-radius: 20px;
}
.about-pic{
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 400px;
}
.about-pic img{
  height: 300px;
  border-radius: 20px;
}
.about-me{
  margin-left: 300px;
  margin-top: 15px;
}
.about-me h1{
  font-size: 40px;
  font-weight: bold;
}
.about-me span{
  color: darkblue;
}
.footer-tag{
  background: black;
}
.footer-item{
  height: 100%;
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
}
footer h1{
  text-align: center;
  color: white;
}
footer p{
  text-align: center;
  color: gray;
}
footer span{
  color: #f04f43;
}
